
.button{
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#115f9e,#054375);
}
.button:hover{
    -fx-background-color: linear-gradient(#15838f,#84dae3);
}
